* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-content {
    height: 100vh;
}
header {
    display: flex;
  justify-content: flex-end;
  padding: 30px 10%;
  position: fixed;
  /* background-color: black; */
  width: 100%;
}

.logo {
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav_links li a:hover {
    color: rgb(35, 203, 147);
}

#section-1 { height: 15%; }
#section-2 { height: 85%; }
#section-2 h1 { color: rgb(35, 203, 147);
    text-align: center;
    /* padding-bottom: 10%; */
}

#section-2 p,h5 {
    text-align: center;
    padding-bottom: 5%;
}

#section-2 .des {
    color: white;
}

#section-2 img {
    height: 200px;
    width: 300px;
    align-self: center;
}

#section-2 a {
    color: rgb(35, 203, 147);
    text-decoration: none;
}

#section-2 .res-link {
    padding-left: 45%;
    padding-top: 40px;
}

#section-2 .res-link button {
    background-color: rgb(35, 203, 147);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}