* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-content {
    height: 100vh;
}
header {
    display: flex;
  justify-content: flex-end;
  padding: 30px 10%;
  position: fixed;
  /* background-color: black; */
  width: 100%;
}

.logo {
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.nav_links li a:hover {
    color: rgb(35, 203, 147);
}

/* Abput me */

#holder{
			
    position: relative;
    width: 600px;
    margin: 100px auto;
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;     
    -o-user-select: none;
    user-select: none;
}

#slogans{
    position: relative;
    top: 0px;
    right: 0px;
    color:  rgb(35, 203, 147);
}

p.slogan{
    text-rendering: optimizeLegibility;
    margin: 0px;
    font-size: 60px;
    text-transform: uppercase;
}

p.slogan strong{
    display:block;
    position:relative;
    opacity:0;
}

.photo-container {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#section-1 { height: 30%; }
#section-2 { height: 70%; }
